[data-md-color-scheme="eccenca-light"] {
    --md-default-bg-color: hsla(0, 0%, 95%, 1);
    --md-default-bg-color--light: hsla(0, 0%, 100%, 1);
    --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.61);
    --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.39);
    --md-primary-fg-color: hsla(204, 88%, 34%, 1);
    --md-accent-fg-color: hsla(36, 100%, 48%, 1);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-footer-fg-color: hsla(209, 19%, 26%, 1);
    --md-footer-fg-color--light: hsla(209, 19%, 26%, 0.61);
    --md-footer-fg-color--lighter: hsla(209, 19%, 26%, 0.39);
    --md-footer-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color--dark: hsla(0, 0%, 90%, 1);
    --md-code-bg-color: hsla(0, 0%, 97.5%, 1);
}

.md-container a:not(.headerlink):hover {
    text-decoration: underline;
}

[data-md-color-scheme="eccenca-light"] .md-content {
    background-color: var(--md-default-bg-color--light);
}

.md-content a:not(.headerlink) {
    text-decoration: underline;
}

/* Comment out this section if the header should not be light colored */

[data-md-color-scheme="eccenca-light"] .md-header,
[data-md-color-scheme="eccenca-light"] [for="__drawer"] {
    --md-primary-fg-color: var(--md-footer-bg-color--dark);
    --md-primary-bg-color: var(--md-footer-fg-color);
}

[data-md-color-scheme="eccenca-light"] .md-search__form,
[data-md-color-scheme="eccenca-light"] [data-md-toggle="search"]:checked~.md-header .md-search__form {
    background-color: var(--md-default-bg-color--light);
}

@media screen and (min-width: 60em) {
    [data-md-color-scheme="eccenca-light"] .md-search__form {
        background-color: var(--md-default-bg-color--lightest);
        border: solid 1px var(--md-primary-bg-color);
    }

    [data-md-color-scheme="eccenca-light"] .md-search__form:hover {
        background-color: var(--md-default-bg-color--lighter);
    }

    [data-md-color-scheme="eccenca-light"] .md-search__input::placeholder {
        color: var(--md-default-fg-color--light);
    }
}

@media screen and (max-width: 76.1875em) {
    [data-md-color-scheme="eccenca-light"] .md-main__inner {
        margin-top: 0;
    }
}

/* Change table display */

.md-typeset table:not([class]) {
    background-color: var(--md-default-bg-color--light);
    border: none;
}

.md-typeset table:not([class]) th {
    background-color: rgba(0, 184, 212, 0.1);
}

.md-typeset table:not([class]) tbody tr:nth-child(even) td {
    background-color: rgba(0, 184, 212, 0.05);
}

/* Display of get-a-demo link */

.getademo {
    background-color: #f39200;
    border-radius: 100rem;
    box-shadow: #f39200 0 0.5rem 1.0rem -0.5rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.5rem;
    opacity: 1;
    outline: 1 solid transparent;
    vertical-align: middle;
    padding: 0.4rem 1.2rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

/* always hide repo link in navigation */

.md-nav__source {
    display: none !important;
}

/* fix icon dimensions */

svg.icon {
    width: auto;
    height: 24px;
}

.md-nav__link svg.icon {
    height: 1.3em;
}

.md-typeset :is(.emojione, .twemoji, .gemoji) svg.icon {
    fill: currentcolor;
    max-height: 100%;
    width: var(--md-icon-size);
}
