---
# Simple workflow for deploying static content to GitHub Pages
name: Deploy Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:

  deploy:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
          fetch-depth: "0"

      - name: setup github pages
        uses: actions/configure-pages@v5

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: install task
        uses: arduino/setup-task@v1

      - name: install and configure poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: load environment cache
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: install packages
        run: sudo apt-get install -y libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev

      - name: reconfigure private repository access
        run: ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} task use:insider-https-token

      - name: check
        run: task check

      - name: build
        run: task clean build

      - name: upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: 'site'

      - name: deploy to gitHub pages
        id: deployment
        uses: actions/deploy-pages@v1

