---
name: Test

# run on pull requests and all (feature/fix) branches
on:
  pull_request:
  push:
    branches:
      - '**'
      - '!main'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout documentation.eccenca.com
        uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: "0"

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: install task
        uses: arduino/setup-task@v1

      - name: install and configure poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: load environment cache
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: reconfigure private repository access
        run: ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} task use:insider-https-token

      - name: check
        run: task check

      - name: build
        run: task clean build

